/* Styles that you directly give to elements will override what they inherit. */

<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }

  .pink-text {
    color: pink;
  }
</style>
<h1 class="pink-text">Hello World!</h1>
