/* Learned that the order of class declarations matter in CSS, with later ones
overriding earlier ones. */

<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  .pink-text {
    color: pink;
  }
  .blue-text {
    color:blue;
  }
</style>
<h1 class="pink-text blue-text">Hello World!</h1>
